*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #E9F1F7;
}
.game-box{
    text-align: center;
}
.game-box h2{
    font-size: 2.5rem;
    padding: 5px;
    margin: 0px 0px 16px;
    color: #FAFAFF;
    background-color: #372248;
}
.game-choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 44vh;
    max-width: 36vh;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
}
.choice img{
    max-height: 33vh;
    border-radius: 50%;
    object-fit: cover;
}
.choices p{
    opacity: 0;
    font-size: 2rem;
    color: black;
    padding: 12px 0px;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(54, 57, 49);
    
}
.choices:hover p{
    opacity: 1;
    font-weight: bold;
}
h3{
    text-align: center;
    font-size: 1.6rem;
    text-decoration: underline;
    padding: 8px 0px;
    margin: 12px 0px;
    color: #FAFAFF;
    background-color: #4E4187;
}
.score-box{
    width: fit-content;
    font-size: 1.6rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 8px;
    color: #011627;
    background-color: #33CA7F;
}
.score{
    text-align: center;
    display: inline-block;
    padding: 14px 18px;
}
.msg-box{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}
#msg{
    width: fit-content;
    padding: 10px 12px;
    border-radius: 6px;
    color: #FAFAFF;
    background-color: #263d42b0;
}